@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.landing_navbar {
    height: 7vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.landing_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 251, 251);
    background-image: url('../assets//images/landing.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.login_inner_container {
    margin-top: -10vh;

}

.marginauto {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 251, 251);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px;
}

.mr {
    margin-right: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.font-13 {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.dev {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.l_heading {
    font-size: 124px;
    font-weight: 800;
    margin-top: -30vh;
}

.about_title {
    font-weight: 600;
    font-size: 34px;
}
.about_para {
    font-size: 16px;
    color: rgb(129, 129, 129);
}

.l_button {
    /* background-color: black; */
    /* background-image: linear-gradient(to right, #8360c3, #2ebf91); */
    /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}


.login_inner {
    background-color: #f7f7f7;
    /* height: 30rem; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 50px 50px ;
    padding-bottom: 60px;
}

.form-control {
    border-radius: 0;
}

.btn-dark {
    background-color: black;
    padding: 10px;
    border-radius: 0;
    letter-spacing: 1px;
    color: white;
}

.btn-outline-secondary {
    border-radius: 0;
    color: black;
    font-weight: 500;
    /* padding: 10px 0; */
}

@media only screen and (max-width: 420px) {
    .landing_navbar {
        padding: 0 20px;
    }
    .mr {
        margin-right: 20px;
    }
    .l_heading {
        font-size: 66px;
        font-weight: 800;
        margin-top: -10vh;
    }
    .landing_container {
        height: 100vh;
    }
}