@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.landing_navbar {
    height: 7vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.landing_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 251, 251);
    background-image: url('../assets//images/landing.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mr {
    margin-right: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.font-13 {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.dev {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.l_heading {
    font-size: 124px;
    font-weight: 800;
    margin-top: -30vh;
}

.about_title {
    font-weight: 600;
    font-size: 34px;
}
.about_para {
    font-size: 16px;
    color: rgb(129, 129, 129);
}

.l_button {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

@media only screen and (max-width: 420px) {
    .landing_navbar {
        padding: 0 20px;
    }
    .mr {
        margin-right: 20px;
    }
    .l_heading {
        font-size: 66px;
        font-weight: 800;
        margin-top: -10vh;
    }
    .landing_container {
        height: 100vh;
    }
}