@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');
/* font-family: 'Poppins', sans-serif; */

* {
    margin : 0;
    padding: 0;
}
.sidebar {
    background-color: #1e1e29;
    width: 10vh;
    height: 100vh;
    color: #9a9cab;
}

.home {
    background-color: #181821;
    width: 100%;
}

.sidebar_heading {
    /* background-color: red; */
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #83d8ae;
    font-size: 24px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.sibebar_main {
    /* background-color: red; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.main {
    padding-top: 50px;
}

.blackImg {
    cursor : pointer;
}

.navbar {
    /* background-color: rgb(0, 128, 255); */
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar_inner {
    /* background-color: red; */
    height: 8vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.121);
}

.navbar_heading {
    font-weight: bold;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.logout {
    cursor: pointer;
    box-shadow: 0px 0px 14px rgb(60, 164, 190);
    border-radius: 50%;
}