@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');
/* font-family: 'Poppins', sans-serif; */

* {
    margin : 0;
    padding: 0;
}
.sidebar {
    background-color: #07070e;
    width: 10vh;
    height: 100vh;
    color: #9a9cab;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    position: fixed;
}

.home {
    background-color: #181821;
    width: 100%;
    /* height: 100vh; */
    padding: 0 3%;
}

.sidebar_heading {
    /* background-color: red; */
    text-decoration: none;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #83d8ae;
    font-size: 24px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.sibebar_main {
    /* background-color: red; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.close_sidebar {
    display: none;
}

.main {
    padding-top: 50px;
}

.blackImg {
    cursor : pointer;
}

.navbar {
    /* background-color: rgb(0, 128, 255); */
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar_inner {
    height: 8vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.121);
}

.navbar_heading {
    font-weight: bold;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.logout {
    cursor: pointer;
    /* box-shadow: 0px 0px 10px rgb(60, 164, 190); */
    /* border-radius: 50%; */
}

.home_container {
    /* remove height later */
    /* background-color: red; */
    /* height: 70vh; */
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_inner {
    background-color: #1e1e29;
    width: 55%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    height: 25vh;  
}


.home_inner_left {
    /* background-color: red; */
    width: 80%;
    padding: 25px 25px;
}

.home_inner_right {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 20%;
}

.home_heading {
    color: white;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.description {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.profile_tags {
    /* background-color: #83d8ae; */
    padding: 30px 0px;
    display: flex;
}

.tags {
    /* background-color: white; */
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.096);
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 10px;
    /* width: 120px; */
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 1px;
    margin-right: 10px;
}

.contact_container {
    /* background-color: red; */
    padding: 10px 0;
    display: flex;
}

.contact {
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white;
    display: flex;
}

.profile {
    /* background-color: red; */
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    border-radius: 50%;
}

.sheading {
    text-decoration: none;
}

.profile_main {
    height: 85%;
    border-radius: 50%;
}

.navbar_heading_mobile {
    /* display: none; */
    margin-right: 10px;
    /* display: none; */
}

.exit {
    display: none;
}

.cursor {
    cursor: pointer;
}

.navbar_heading_sub {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.navbar_profile_heading_sub {
    display: flex;
    align-items: center;
}

.home_inner_mobile {
    display: none;
}

.mt-2 {
    margin-top: 2px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-6 {
    margin-top: 6px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-8 {
    margin-left: 8px;
}

.project_container {
    /* border: 1px solid red; */
    width: 55%;
    /* margin-top: 20px; */
}

.project_heading {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 75%;
    padding: 20px 0;
    margin-top: 20px;
}

.c_heading {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.project_grid {
    /* background-color: red; */
}

.project_inner {
    /* border: 1px solid white; */
    background-color: #1e1e29;
    border-radius: 6px;
    margin-bottom: 15px;
    /* width: 70%; */
}

.project_inner_main {
    display: flex;
}

.project_title {
    color: white;
    font-size: 21px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.project_description {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.project_left {
    width: 60%;
    padding: 15px 15px;
}

.project_right{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    /* background-color: rosybrown; */
}

.project_bottom {
    color: white;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.col {
    /* background-color: red; */

}

.cusor {
    cursor: pointer;
}

.resume_container {
    /* border: 1px solid red; */
    margin-top: 35px;
    width: 55%;
}

.resume_title {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

.resume_inner_container {
    display: flex;
    background-color: #1e1e29;
    /* padding: px 0; */
    height: 125px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.resume_name {
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.socials_inner_container {
    display: flex;
    background-color: #1e1e29;
    align-items: center;
    justify-content: center;
    height: 125px;
    border-radius: 5px;
}

.codingprofile_container {
    width: 55%;
    margin-top: 40px;
    /* border: 1px solid red; */
}

.coding_title {
    font-family: 'Poppins', sans-serif;
    color: white;

}

.coding_inner_container {
    width: 100%;
    background-color: #1e1e29;
    margin-top: 15px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.pointer {
    cursor: pointer;
}

.mr-15 {
    margin-right: 15px;
}

.coding_image {
    height: 20px;
}

.white {
    color: rgba(255, 255, 255, 0.502);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
}

/* project component */

.p_heading {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.p_inner {
    width: 45%;
    /* background-color: #1e1e29; */
    margin: 50px auto;
    padding: 10px 40px;
    
}

.c_inner {
    width: 55%;
    /* margin-top: 20px; */
}


#project_name {
    background-color:#181821;
    border: .1px solid rgba(253, 253, 252, 0.166);
    border-radius: 2px;
    color: white;
    font-size: 12px;
    letter-spacing: .5px;
}

#project_description {
    background-color:#181821;
    border: .1px solid rgba(253, 253, 252, 0.166);
    border-radius: 2px;
    color: white;
    font-size: 12px;
    letter-spacing: .5px;
    height: 150px;
    margin-bottom: 20px;
}

/* Settings section */

.settings_container {
    width: 55%;
    /* border: 1px solid red; */
    margin: 40px auto
}

.show {
    border-radius: 2px;
    border: .1px solid rgba(255, 255, 255, 0.343);
    background-color:#181821;
    color: rgb(205, 205, 205);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

#setting1 {
    background-color:#181821;
    color: white;
}

#setting2 {
    background-color:#181821;
    color: white;
}

#setting3 {
    background-color:#181821;
    color: white;
}

.profile_count {
    background-color: #1e1e29;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px;
    border-radius: 5px;
}

.count {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
}

.views {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-top: -5px;
}

.setting_inner {
    /* background-color: red; */
    display: flex;
    /* flex-wrap: n; */
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.column {
    flex-direction: column;
}

.fff {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.upload_resume {
    width: 75%;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed rgba(255, 255, 255, 0.259);
    border-radius: 5px;
}

.upload {
    color: red;
    font-size: 8px;
    font-family: 'Poppins', sans-serif;
}

.p_settings {
    margin-right: 25px;
}

/* profile links section */

.profile_link_container {
    /* background-color: red; */
    /* margin-top: 20px; */
}

.upload_photos {
    color: white;
    display: flex;
    padding: 25px 0;
}

.profile_img {
    margin-right: 10px;
    background-color: #1e1e29;
    padding: 12px;
    border-radius: 50%;
}

.profile_title {
    color: rgb(66, 66, 66);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #83d8ae;
}

/* projects seeting */
.ps_inner {
    /* background-color: red; */
    width: 75%;
}

.project_settings {
    /* color: white; */
    background-color: #1e1e29;
}

.toast-body {
    padding: 10px 15px;
}

.toast_container {
    color: #83d8ae;
    background-color: #1e1e29;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.contain_container {
    /* background-color: red; */
    /* padding-top: 10px; */
    width: 55%;
    margin: 30px auto;
}

/* themes section */
.themes_container {
    margin: 0 auto;
    width: 75%;
    /* background-color: red; */
}

.open {
    width: 10vh;
    transition: .3s;
}

.close {
    transition: .3s;
    width: 0;
}

.dnone {
    display: none;
}

.dblock {
    display: block;
}

.edit_profile{
    font-size: 12px;
    padding: 2px 12px;
    font-weight: 200;
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.247);
    margin-left: 40px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_heading {
    display: flex;
    align-items: center;
}

.dnone {
    display: none;
}

.edit_profile_title {
    cursor: pointer;
}

.close {
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .home {
        padding: 0;
        /* height: 100vh; */
    }
    .home_inner{
        display: none;
    }
    .sidebar {
        /* width: 0; */
        /* display: none; */
        z-index: 100;
    }
    .navbar_heading {
        display: none;
    }
    .navbar_heading_mobile {
        display: block;
        color: #83d8ae;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }
    .navbar_profile_heading_sub {
        display: flex;
        align-items: center;
    }
    .navbar_heading_sub {
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .exit {
        display: block;
    }
    .home_inner_mobile {
        margin-top: 20px;
        display: flex;
        background-color: #1e1e29;
        width: 85%;
        padding: 15px 15px;
    }
    .home_container {
        padding: 20px 0;
    }
    .home_inner_mobile_profile {
        padding: 10px 0px;
        overflow-x: hidden;
    }
    .home_mobile_profile {
        border-radius: 50px;
    }
    .profile_tags_mobile {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    .contact_container {
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        padding-top: 30px;
        justify-content: space-around;
        
    }
    .contact_mobile {
        /* margin-right: 15px; */
        font-family: 'Poppins', sans-serif;
        font-size: 8px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project_container {
        width: 85%;
    }
    .tags {
        /* background-color: white; */
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.096);
        border-radius: 50px;
        padding: 5px 15px;
        font-size: 10px;
        /* width: 120px; */
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        letter-spacing: 1px;
        margin-right: 10px;
    }
    .resume_container {
            width: 85%;
    }
    .resume_inner_container{
        width: 100%;
    }
    .p_inner {
        width: 100%;
        margin: 50px auto;
        padding: 10px 40px;
        
    } 
    .c_inner {
        width: 85%;
        /* margin-top: 15px; */
    }
    .setting_inner {
        flex-direction: column;
        width: 100%;
    }
    .settings_container {
        width: 90%;
    }
    .profile_count {
        background-color: #1e1e29;
        width: 93%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        border-radius: 5px;
        margin-top: 10px;
    }
    .upload_resume {
        width: 100%;
        padding: 60px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed rgba(255, 255, 255, 0.259);
        border-radius: 5px;
    }
    .p_settings {
        margin-right: 0;
    }
    .ps_inner {
        /* background-color: red; */
        width: 100%;
    }
    .contain_container {
        width: 90%;
    }
    .themes_container {
        width: 90%;
    }
    .close_sidebar {
        display: block;
        position: fixed;
        bottom:25px;
    }
    .home_heading {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 420px) {
    .home {
        padding: 0;
        /* height: 100vh; */
    }
    .home_inner{
        display: none;
    }
    .sidebar {
        /* width: 0; */
        /* display: block; */
        z-index: 100;
    }
    .navbar_heading {
        display: none;
    }
    .navbar_heading_mobile {
        display: block;
        color: #83d8ae;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }
    .navbar_profile_heading_sub {
        display: flex;
        align-items: center;
    }
    .navbar_heading_sub {
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .exit {
        display: block;
    }

    .home_inner_mobile {
        display: flex;
        background-color: #1e1e29;
        width: 85%;
        padding: 15px 15px;
    }
    .home_container {
        padding: 20px 0;
    }
    .home_inner_mobile_profile {
        padding: 10px 0px;

    }
    .home_mobile_profile {
        border-radius: 50px;
    }
    .profile_tags_mobile {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    .contact_container {
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        padding-top: 30px;
        justify-content: space-around;
        
    }
    .contact_mobile {
        /* margin-right: 15px; */
        font-family: 'Poppins', sans-serif;
        font-size: 8px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project_container {
        width: 85%;
    }
    .tags {
        /* background-color: white; */
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.096);
        border-radius: 50px;
        padding: 5px 15px;
        font-size: 10px;
        /* width: 120px; */
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        letter-spacing: 1px;
        margin-right: 10px;
    }
    .resume_container {
            width: 85%;
    }
    .resume_inner_container{
        width: 100%;
    }
    .coding_inner_container {
        width: 100%;
        background-color: #1e1e29;
        margin-top: 15px;
        padding: 20px 20px;
        display: flex;
        justify-content: space-around;
        border-radius: 5px;
    }
    .codingprofile_container {
        width: 85%;   
    }
    .coding_image {
        height: 14px;
    }
    .p_inner {
        width: 100%;
        margin: 50px auto;
        padding: 10px 20px;
        
    } 
    .c_inner {
        width: 85%;
        /* margin-top: 15px; */
    }
    .setting_inner {
        flex-direction: column;
        width: 100%;
    }
    .settings_container {
        width: 90%;
    }
    .profile_count {
        background-color: #1e1e29;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        border-radius: 5px;
        margin-top: 10px;
    }
    .upload_resume {
        width: 100%;
        padding: 60px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed rgba(255, 255, 255, 0.259);
        border-radius: 5px;
    }
    .p_settings {
        margin-right: 0;
    }
    .ps_inner {
        /* background-color: red; */
        width: 100%;
    }
    .contain_container {
        width: 90%;
    }
    .themes_container {
        width: 90%;
    }
    .close_sidebar {
        display: block;
        position: fixed;
        bottom:25px;
    }
    .home_heading {
        display: flex;
        justify-content: space-between;
    }
}
