@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');
/* font-family: 'Poppins', sans-serif; */

* {
    margin : 0;
    padding: 0;
}
.sidebar {
    background-color: #1e1e29;
    width: 10vh;
    height: 100vh;
    color: #9a9cab;
    position: fixed;
}

.home {
    background-color: #181821;
    width: 100%;
    padding-left: 5%;
}

.sidebar_heading {
    /* background-color: red; */
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #83d8ae;
    font-size: 24px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.sibebar_main {
    /* background-color: red; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.main {
    padding-top: 50px;
}

.blackImg {
    cursor : pointer;
}

.navbar {
    /* background-color: rgb(0, 128, 255); */
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar_inner {
    /* background-color: red; */
    height: 8vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.121);
}

.navbar_heading {
    font-weight: bold;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.logout {
    cursor: pointer;
    /* box-shadow: 0px 0px 10px rgb(60, 164, 190); */
    /* border-radius: 50%; */
}

.home_container {
    /* remove height later */
    /* background-color: red; */
    height: 70vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_inner {
    background-color: #1e1e29;
    width: 75%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    height: 25vh;  
}


.home_inner_left {
    /* background-color: red; */
    width: 80%;
    padding: 25px 25px;
}

.home_inner_right {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 20%;
}

.home_heading {
    color: white;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.description {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.profile_tags {
    /* background-color: #83d8ae; */
    padding: 30px 0px;
    display: flex;
}

.tags {
    /* background-color: white; */
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.096);
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 10px;
    /* width: 120px; */
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 1px;
    margin-right: 10px;
}

.contact_container {
    /* background-color: red; */
    padding: 10px 0;
    display: flex;
}

.contact {
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white;
    display: flex;
}

.profile {
    /* background-color: red; */
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    border-radius: 50%;
}

.profile_main {
    height: 50%;
}

.navbar_heading_mobile {
    margin-right: 10px;
}

.exit {
    display: none;
}

.cursor {
    cursor: pointer;
}

.navbar_heading_sub {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.navbar_profile_heading_sub {
    display: flex;
    align-items: center;
}

.home_inner_mobile {
    display: none;
}

.mt-2 {
    margin-top: 2px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-6 {
    margin-top: 6px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-10 {
    margin-top: 10px;
}


@media only screen and (max-width: 850px) {
    .home {
        padding: 0;
    }
    .home_inner{
        display: none;
    }
    .sidebar {
        /* width: 0; */
        display: none;
    }
    .navbar_heading {
        display: none;
    }
    .navbar_heading_mobile {
        color: #83d8ae;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }
    .navbar_profile_heading_sub {
        display: flex;
        align-items: center;
    }
    .navbar_heading_sub {
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .exit {
        display: block;
    }
    .home_inner_mobile {
        display: flex;
        background-color: #1e1e29;
        width: 85%;
        padding: 15px 15px;
    }
    .home_container {
        padding: 20px 0;
    }
    .home_inner_mobile_profile {
        padding: 10px 0px;
        overflow-x: hidden;
    }
    .home_mobile_profile {
        border-radius: 50px;
    }
    .profile_tags_mobile {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    .contact_container {
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        padding-top: 30px;
        justify-content: space-around;
        
    }
    .contact_mobile {
        /* margin-right: 15px; */
        font-family: 'Poppins', sans-serif;
        font-size: 8px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 420px) {
    .home {
        padding: 0;
    }
    .home_inner{
        display: none;
    }
    .sidebar {
        /* width: 0; */
        display: none;
    }
    .navbar_heading {
        display: none;
    }
    .navbar_heading_mobile {
        color: #83d8ae;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }
    .navbar_profile_heading_sub {
        display: flex;
        align-items: center;
    }
    .navbar_heading_sub {
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .exit {
        display: block;
    }

    .home_inner_mobile {
        display: flex;
        background-color: #1e1e29;
        width: 85%;
        padding: 15px 15px;
    }
    .home_container {
        padding: 20px 0;
    }
    .home_inner_mobile_profile {
        padding: 10px 0px;

    }
    .home_mobile_profile {
        border-radius: 50px;
    }
    .profile_tags_mobile {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    .contact_container {
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        padding-top: 30px;
        justify-content: space-around;
        
    }
    .contact_mobile {
        /* margin-right: 15px; */
        font-family: 'Poppins', sans-serif;
        font-size: 8px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* @media only screen and (max-width: 850px) {
    .home {
        padding: 0;
    }
    .home_inner{
        display: none;
    }
    .sidebar {
        display: none;
    }
    .navbar_heading {
        display: none;
    }
    .navbar_heading_mobile {
        color: #83d8ae;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }
    .navbar_profile_heading_sub {
        display: flex;
        align-items: center;
    }
    .navbar_heading_sub {
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .exit {
        display: block;
    }

    .home_inner_mobile {
        display: flex;
        background-color: #1e1e29;
        width: 85%;
        padding: 15px 15px;
    }
    .home_container {
        padding: 20px 0;
    }
    .home_inner_mobile_profile {
        padding: 10px 0px;

    }
    .home_mobile_profile {
        border-radius: 50px;
    }
    .profile_tags_mobile {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
    }
} */